*{
    margin: 0%;
    padding: 0%;
}

.div-square {
    width: 80px;
    height: 80px;
    background-color: gray;
    margin: auto;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    display: flex;
}
#content{
    margin: 50px auto;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
}
.hidden{
    visibility: hidden;
}
.visible {
    visibility: visible;
}
#container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
button{
    margin-left: 5px;
}
#buttons {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.message{
    display: flex;
justify-content: center;
}