*{
    margin: 0%;
    padding: 0%;
}

.div-square {
    width: 40px;
    height: 40px;
    background-color: gray;
    margin: auto;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    display: flex;
}